html,
body{
    height: 100%;
    margin: 0;

}
body{
    background-color: #556E53;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

#content{
    background-color: #152A38;
    padding: 12px;
    height: 324px;
    width: 768px;
    border-radius: 8px;
    color: #9DB2BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

nav{
    padding-top: 32px;
}

button{
    border-style: none;
    border-radius: 8px;
    background-color: #152A38;
    color: #9DB2BF;
    width: 244px;
    height: 64px;
    font-size: 36px;
    margin: 12px;
}

.workingHours > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.workingHours > p{
    margin: 0 0 2px 0;
    font-size: 18px;
}